body {
  margin: 0;
}

.container {
  display: flex;
  align-items: stretch;
  max-width: 100%;
  height: 100vh;
  margin-left: auto;
  margin-right: auto;
}

.navbar {
  display: flex;
  justify-content: center;
  position: absolute;
  left: 25.75%;
  z-index: 3; /* Specify a stack order in case you're using a different order for other elements */
  height: 17.5%;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  color: white;
  text-transform: uppercase;
}

.navbar__links {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
}

.navbar a {
  font-size: 9px;
  font-family: Arial;
  color: white;
  text-decoration: none;
}

.block1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 20%;
  height: 100%;
  background-color: #2d3436;
}

.block1__logo--container {
  display: flex;
  flex-direction: column;
  margin-left: 70px;
  height: 17.5%;
  width: 100%;
}

.block1__placeholder {
  display: flex;
  height: 7.5%;
  width: 100%;
}

.block1__logo {
  width: 55%;
  height: 100%;
  background-size: 100%;
  background-image: url("https://cdn.manfrotto.com/media/external/services/dt/manfrotto/nat-geo/img/nat-geo-logo.png");
  background-repeat: no-repeat;
  background-position: center;
}

.block1__scroll--container {
  display: flex;
  width: 175px;
  transform: rotateZ(-90deg);
}

.block1__scroll {
  display: flex;
  font-size: 8px;
  color: white;
  text-transform: uppercase;
  font-family: Arial;
}

.arrow-left {
  margin-right: 20px;
  width: 0;
  height: 0;
  border-top: 4px solid transparent;
  border-bottom: 4px solid transparent;
  border-right: 4px solid white;
}

.floating__text--container {
  display: flex;
  width: 40vw;
  height: 25%;
  margin-left: 70px;
}

.floating__text {
  position: relative;
  z-index: 4;
}

.floating__text--heading {
  font-size: 10px;
  font-family: Arial;
  color: #f1c40f;
  text-transform: uppercase;
}

.floating__text--body {
  margin-top: 24px;
  font-size: 40px;
  font-family: Arial;
  color: white;
}

.profile__container {
  height: 25%;
  width: 33vw;
  margin-left: 70px;
  z-index: 4;
}

.profile {
  display: flex;
  position: relative;
  justify-content: space-between;
  padding-top: 30px;
}

.profile__image {
  background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRlpvK3v9pE5qivt8kJArCKcVQ_-W3EnKoW4weIUF8HiWItNDUq");
  background-position: center;
  background-size: cover;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  margin-right: 2%;
}

.profile__textbox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-right: 15%;
}

.profile__textbox--name {
  color: white;
  font-size: 10px;
  font-family: Arial;
}

.profile__textbox--date {
  margin-top: 5px;
  color: gray;
  font-size: 10px;
  font-family: Arial;
}

.profile__button {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background: none;
  border: 1px solid #f1c40f;
  color: white;
  font-size: 8px;
  font-family: Arial;
  text-transform: uppercase;
  width: 35%;
}

.arrow-right {
  width: 0;
  height: 0;
  border-top: 4px solid transparent;
  border-bottom: 4px solid transparent;
  border-left: 4px solid #f1c40f;
}

.block1__border {
  display: flex;
  width: 1px;
  height: 100%;
  background-color: gray;
}

.block2 {
  display: flex;
  align-items: flex-end;
  width: 20%;
  height: 100%;
  background-color: #2d3436;
}

.block2__img--container {
  height: 25%;
  width: 100%;
}

.block2__img {
  height: 100%;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("https://images.unsplash.com/photo-1461174008024-9faca7444bd1?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2100&q=80");
}

.block2__img--textbox {
  display: flex;
  flex-direction: column;
  padding-top: 20%;
  margin-left: 14%;
  margin-right: 14%;
  margin-bottom: 14%;
  color: white;
  font-family: Arial;
}

.block2__img--textboxhead {
  display: flex;
  font-size: 10px;
  width: 100%;
}

.block2__img--topic {
  text-transform: uppercase;
  margin-right: 10px;
}

.block2__img--textboxbody {
  margin-top: 10px;
  font-size: 12px;
  font-family: Helvetica;
}

.block2__border {
  display: flex;
  width: 1px;
  height: 100%;
  background-color: gray;
}

.block3 {
  display: flex;
  align-items: flex-end;
  width: 20%;
  height: 100%;
  background-color: #2d3436;
}

.block3__img--container{
  height: 25%;
  width: 100%;
}

.block3__img {
  height: 100%;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("https://images.unsplash.com/30/skater.jpg?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2110&q=80");
}

.block3__img--textbox {
  display: flex;
  flex-direction: column;
  padding-top: 20%;
  margin-left: 14%;
  margin-right: 14%;
  margin-bottom: 14%;
  color: white;
  font-family: Arial;
}

.block3__img--textboxhead {
  display: flex;
  font-size: 10px;
  width: 100%;
}

.block3__img--topic {
  text-transform: uppercase;
  margin-right: 10px;
}

.block3__img--textboxbody {
  margin-top: 10px;
  font-size: 12px;
  font-family: Arial;
}

.block3__border {
  display: flex;
  width: 1px;
  height: 100%;
  background-color: gray;
}

.block4 {
  display: flex;
  align-items: flex-end;
  width: 20%;
  height: 100%;
  background-color: #2d3436;
}

.block4__border {
  display: flex;
  width: 1px;
  height: 100%;
  background-color: gray;
}

.block4__img--container {
  height: 25%;
  width: 100%;
}

.block4__img {
  height: 100%;
  width: 100%;
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;
  background-image: url("https://images.unsplash.com/photo-1506506447188-78e2a1051d9e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2106&q=80");
}

.block4__img--textbox {
  display: flex;
  flex-direction: column;
  padding-top: 20%;
  margin-left: 14%;
  margin-right: 14%;
  margin-bottom: 14%;
  color: white;
  font-family: Arial;
}

.block4__img--textboxhead {
  display: flex;
  font-size: 10px;
  width: 100%;
}

.block4__img--topic {
  text-transform: uppercase;
  margin-right: 10px;
}

.block4__img--textboxbody {
  margin-top: 10px;
  font-size: 12px;
  font-family: Arial;
}

.block5 {
  display: flex;
  position: relative;
  flex-direction: column;
  z-index: 2;
  align-content: flex-end;
  width: 20%;
  height: 100%;
  background-color: #f1c40f;
}

.block5__icons {
  display: flex;
  height: 17.5%;
  justify-content: center;
  align-items: center;
}

.floating__img--container {
  display: flex;
  position: relative;

  flex: 1;
  margin-bottom: 8px;
  z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
}

.block5__numbers--container {
  height: 25%;
  width: 100%;
}

.block5__num {
  height: 100%;
  width: 100%;
}

.block5__numbers {
  display: flex;
  height: 100%;
  width: 100%;
  justify-content: center;
  background-color: black;
  font-family: Arial;
}

.block5__icons img {
  height: 18px;
  padding: 6%;
}

.block5__numbers--01 {
  color: #f1c40f;
  font-size: 32px;
  align-self: center;
}

.block5__numbers--04 {
  display: flex;
  flex-direction: column;
  align-self: center;
}

.block5__numbers--4 {
  color: white;
  font-size: 16px;
  padding-left: 10px;
}

.block5__numbers--4line {
  width: 20px;
  height: 1px;
  margin-left: 10px;
  margin-top: 6px;
  background-color: white;
}

.float__img {
  display: flex;
  position: absolute;
  z-index: 3;
  right: 10%;
  width: 800px;
  height: 100%;
}

.partial__border--container {
  display: flex;
  align-items: flex-end;
  height: 100%;
  margin-top: 8px;
}

.partial__border {
  z-index: 3; /* Specify a stack order in case you're using a different order for other elements */
  width: 8px;
  height: 15%;
  background-color: #f1c40f;
}

.floating__img {
  display: flex;
  z-index:4;
  width: 100%;
  height: 100%;
  border-bottom: 8px solid #f1c40f;
  background-image: url("https://images.unsplash.com/photo-1496086227542-422c6a186b3b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2100&q=80");
  background-size: cover;
}

@media (max-width: 816px) {
  .floating__img {
    width: 100vw;
  }
}

@media (max-width: 700px) {

  .navbar {
    display: none;
  }

  .navbar__links {
    width: 75%;
    justify-content: space-between;
    padding-right: 15%;
  }

  .block1__logo--container {
    position: relative;
    margin-left: 30px;
  }

  .block1__logo {
    z-index: 4;
    width: 25vw;
  }

  .block1__placeholder {
    display: none;
  }

  .floating__text--container {
    width: 80vw;
    margin-top: 10px;
    margin-left: 30px;
  }

  .floating__text--body {
    font-size: 35px;
  }

  .profile__container {
    margin-top: 100px;
    margin-left: 30px;
    width: 80vw;
    height: 50px;
  }

  .block1__border {
    display: none;
  }

  .block1__scroll--container {
    display: none;
  }

  .block2__img--container {
    position: absolute;
    left: 0;
    width: 25vw;
    height: 25vh;
  }

  .block2__img {
    width: 25vw;
    height: 25vh;
  }

  .block2__img--date {
    display: none;
  }

  .block2__img--textboxbody {
    display: none;
  }

  .block2__border {
    display: none;
  }

  .block3__border {
    display: none;
  }

  .block3__img--textboxbody {
    display: none;
  }

  .block3__img--container {
    position: absolute;
    left: 25%;
    width: 25vw;
    height: 25vh;
  }

  .block3__img {
    width: 25vw;
    height: 25vh;
  }
  .block3__img--date {
    display: none;
  }

  .block4__img--textboxbody {
    display: none;
  }

  .block4__img--container {
    position: absolute;
    left: 50%;
    width: 25vw;
    height: 25vh;
  }

  .block4__img {
    width: 25vw;
    height: 25vh;
  }

  .block4__img--date {
    display: none;
  }

  .float__img{
    width: 100vw;
    right: 0;
  }

  .block5__numbers--container {
    height: 25%;
    
  }

  .block5__num {
    position: absolute;
    right: 0;
    height: 25vh;
    width: 25vw;
  }

  .block5__numbers {
    width: 25vw;
    height: 25vh;
  }

  .block5__icons--search {
    display: none;
  }

  .block5__icons--email {
    display: none;
  }
}
